
index/de.hspf.ai.kg/out/production/classes/BytesRefUtils.class
index/de.hspf.ai.kg/out/production/classes/DocTermVector.class
index/de.hspf.ai.kg/out/production/classes/MyTermStats.class
index/de.hspf.ai.kg/out/production/classes/Searcher.class
index/de.hspf.ai.kg/.idea/workspace.xml
index/de.hspf.ai.kg/out/production/classes/TermCounter.class
index/de.hspf.ai.kg/out/production/resources/META-INF/services/org.apache.lucene.codecs.Codec
index/de.hspf.ai.kg/out/production/resources/META-INF/services/org.apache.lucene.codecs.DocValuesFormat
index/de.hspf.ai.kg/out/production/resources/META-INF/services/org.apache.lucene.codecs.PostingsFormat
*.bin
*.bin
*.lock
index/de.hspf.ai.kg/build/tmp/shadowJar/MANIFEST.MF
index/de.hspf.ai.kg/build/tmp/fatJar/MANIFEST.MF
index/de.hspf.ai.kg/.gradle/4.8/fileContent/annotation-processors.bin
index/de.hspf.ai.kg/.gradle/4.8/fileContent/annotation-processors.bin
index/de.hspf.ai.kg/.gradle/4.8/fileContent/fileContent.lock
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/fileHashes.bin
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/fileHashes.lock
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/resourceHashesCache.bin
index/de.hspf.ai.kg/.gradle/4.8/taskHistory/taskHistory.bin
index/de.hspf.ai.kg/.gradle/4.8/taskHistory/taskHistory.lock
index/de.hspf.ai.kg/.gradle/buildOutputCleanup/buildOutputCleanup.lock
index/de.hspf.ai.kg/.gradle/buildOutputCleanup/outputFiles.bin
index/de.hspf.ai.kg/.idea/compiler.xml
index/de.hspf.ai.kg/.idea/gradle.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_2.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_2_0.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__com_google_guava_failureaccess_1_0.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__com_google_guava_guava_27_0_jre.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_1.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__junit_junit_4_12.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__org_apache_lucene_lucene_analyzers_common_5_5_5.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__org_apache_lucene_lucene_core_5_5_5.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__org_apache_lucene_lucene_misc_5_5_5.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__org_apache_lucene_lucene_queries_5_5_5.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__org_apache_lucene_lucene_queryparser_5_5_5.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__org_apache_lucene_lucene_sandbox_5_5_5.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__org_checkerframework_checker_qual_2_5_2.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__org_codehaus_mojo_animal_sniffer_annotations_1_17.xml
index/de.hspf.ai.kg/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
index/de.hspf.ai.kg/.idea/libraries/gradle_wrapper.xml
index/de.hspf.ai.kg/.idea/misc.xml
index/de.hspf.ai.kg/.idea/modules.xml
index/de.hspf.ai.kg/.idea/modules/de.hspf.ai.kg.iml
index/de.hspf.ai.kg/.idea/modules/de.hspf.ai.kg_main.iml
index/de.hspf.ai.kg/.idea/modules/de.hspf.ai.kg_test.iml
index/de.hspf.ai.kg/.idea/uiDesigner.xml
index/de.hspf.ai.kg/.idea/workspace.xml
index/de.hspf.ai.kg/build/classes/java/main/BytesRefUtils.class
index/de.hspf.ai.kg/build/classes/java/main/DocTermVector.class
index/de.hspf.ai.kg/build/classes/java/main/MyTermStats.class
index/de.hspf.ai.kg/build/classes/java/main/Searcher.class
index/de.hspf.ai.kg/build/classes/java/main/TermCounter.class
index/de.hspf.ai.kg/build/libs/de.hspf.ai.kg-0.1.jar
index/de.hspf.ai.kg/build/resources/main/META-INF/services/org.apache.lucene.codecs.Codec
index/de.hspf.ai.kg/build/resources/main/META-INF/services/org.apache.lucene.codecs.DocValuesFormat
index/de.hspf.ai.kg/build/resources/main/META-INF/services/org.apache.lucene.codecs.PostingsFormat
index/de.hspf.ai.kg/.gradle/4.8/fileContent/annotation-processors.bin
index/de.hspf.ai.kg/.gradle/4.8/fileContent/fileContent.lock
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/fileHashes.bin
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/fileHashes.lock
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/resourceHashesCache.bin
index/de.hspf.ai.kg/.gradle/4.8/taskHistory/taskHistory.bin
index/de.hspf.ai.kg/.gradle/4.8/taskHistory/taskHistory.lock
index/de.hspf.ai.kg/.gradle/buildOutputCleanup/buildOutputCleanup.lock
index/de.hspf.ai.kg/.gradle/buildOutputCleanup/outputFiles.bin
index/de.hspf.ai.kg/.idea/gradle.xml
index/de.hspf.ai.kg/.idea/misc.xml
index/de.hspf.ai.kg/.idea/uiDesigner.xml
index/de.hspf.ai.kg/.idea/workspace.xml
index/de.hspf.ai.kg/.gradle/4.8/fileContent/annotation-processors.bin
index/de.hspf.ai.kg/.gradle/4.8/fileContent/fileContent.lock
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/fileHashes.bin
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/fileHashes.lock
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/resourceHashesCache.bin
index/de.hspf.ai.kg/.gradle/4.8/taskHistory/taskHistory.bin
index/de.hspf.ai.kg/.gradle/4.8/taskHistory/taskHistory.lock
index/de.hspf.ai.kg/.gradle/buildOutputCleanup/buildOutputCleanup.lock
index/de.hspf.ai.kg/.gradle/buildOutputCleanup/outputFiles.bin
index/de.hspf.ai.kg/.idea/gradle.xml
index/de.hspf.ai.kg/.idea/misc.xml
index/de.hspf.ai.kg/.idea/uiDesigner.xml
index/de.hspf.ai.kg/.idea/workspace.xml
index/de.hspf.ai.kg/.gradle/4.8/fileContent/annotation-processors.bin
index/de.hspf.ai.kg/.gradle/4.8/fileContent/fileContent.lock
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/fileHashes.bin
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/fileHashes.lock
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/resourceHashesCache.bin
index/de.hspf.ai.kg/.gradle/4.8/taskHistory/taskHistory.bin
index/de.hspf.ai.kg/.gradle/4.8/taskHistory/taskHistory.lock
index/de.hspf.ai.kg/.gradle/buildOutputCleanup/buildOutputCleanup.lock
index/de.hspf.ai.kg/.gradle/buildOutputCleanup/outputFiles.bin
index/de.hspf.ai.kg/.idea/gradle.xml
index/de.hspf.ai.kg/.idea/misc.xml
index/de.hspf.ai.kg/.idea/uiDesigner.xml
index/de.hspf.ai.kg/.idea/workspace.xml
index/de.hspf.ai.kg/.gradle/4.8/fileContent/annotation-processors.bin
index/de.hspf.ai.kg/.gradle/4.8/fileContent/fileContent.lock
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/fileHashes.bin
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/fileHashes.lock
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/resourceHashesCache.bin
index/de.hspf.ai.kg/.gradle/4.8/taskHistory/taskHistory.bin
index/de.hspf.ai.kg/.gradle/4.8/taskHistory/taskHistory.lock
index/de.hspf.ai.kg/.gradle/buildOutputCleanup/buildOutputCleanup.lock
index/de.hspf.ai.kg/.gradle/buildOutputCleanup/outputFiles.bin
index/de.hspf.ai.kg/.idea/gradle.xml
index/de.hspf.ai.kg/.idea/misc.xml
index/de.hspf.ai.kg/.idea/uiDesigner.xml
index/de.hspf.ai.kg/.idea/workspace.xml
index/de.hspf.ai.kg/.gradle/4.8/fileContent/annotation-processors.bin
index/de.hspf.ai.kg/.gradle/4.8/fileContent/fileContent.lock
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/fileHashes.bin
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/fileHashes.lock
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/resourceHashesCache.bin
index/de.hspf.ai.kg/.gradle/4.8/taskHistory/taskHistory.bin
index/de.hspf.ai.kg/.gradle/4.8/taskHistory/taskHistory.lock
index/de.hspf.ai.kg/.gradle/buildOutputCleanup/buildOutputCleanup.lock
index/de.hspf.ai.kg/.gradle/buildOutputCleanup/outputFiles.bin
index/de.hspf.ai.kg/.idea/gradle.xml
index/de.hspf.ai.kg/.idea/misc.xml
index/de.hspf.ai.kg/.idea/uiDesigner.xml
index/de.hspf.ai.kg/.idea/workspace.xml
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/fileHashes.bin
*.bin
*.lock
*.iml
index/de.hspf.ai.kg/.idea/gradle.xml
index/de.hspf.ai.kg/.idea/misc.xml
index/de.hspf.ai.kg/.idea/workspace.xml
*.class
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/fileHashes.bin
index/de.hspf.ai.kg/.gradle/4.8/fileHashes/fileHashes.lock
index/de.hspf.ai.kg/.idea/gradle.xml
index/de.hspf.ai.kg/.idea/misc.xml
index/de.hspf.ai.kg/.idea/workspace.xml
